/* - Mobile: 375px
- Desktop: 1440px */
.background{
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

.calculator{
  width: 500px;
  height: 500px;
  background-color: white;
  display: flex;
  padding: 20px;
}
.inputs{
  display: flex;
  flex-direction: column;
  gap: 20px 5px;
}
.totals{
  background-color: hsl(183, 100%, 15%);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px 5px;
}